/* Remove default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* align-content: space-around; */
    /* row-gap: 10px; */
}

/* Main header */
h1 {
    text-align: center;
    color: rgb(132, 96, 6);
}

/* Main Body Style */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: blanchedalmond;
    padding-top: 50px;
    color: rgb(132, 96, 6);
}

/* navbar header style */
header {
    background-color: #15695e;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* from here */
    display: flex;
    justify-content: space-evenly;
    /* Center align items horizontally */
    list-style-type: none;
    /* Remove default list styles */
    padding: 0;
    /* Remove default padding */
    border: 4px solid rgb(134, 103, 4);
}

nav {
    /* border: 4px solid rgb(134, 103, 4); */
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul a {
    text-decoration: none;
    color: #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}


/* Main Content */
main {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content-item {
    width: calc(50% - 20px);
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #cac399;
    box-shadow: 0 0 10px rgba(173, 160, 97, 0.491);
    text-align: center;
}

.content-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.content-item>p {
    text-align: justify;
    /* Justify text */
    text-justify: distribute-all-lines;
}

/* Footer */
footer {
    background-color: #15695e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* border-top: 4px solid rgb(134, 103, 4); */
    border: 4px solid rgb(134, 103, 4);
}

/* Social networks styling */
#social-networks {
    display: flex;
    justify-content: space-evenly;
    /* Center align items horizontally */
    list-style-type: none;
    /* Remove default list styles */
    padding: 0;
    /* Remove default padding */

}

#social-networks li {
    margin: 0 10px;
    /* Adjust margin between items */
}

#social-networks li a {
    color: #fff;
    /* Set icon color to black */
    font-size: 24px;
    /* Adjust icon size */
}


/*ABOUT PAGE */
.about {
    background: url('../images/wall3-pexels-kseniachernaya-3965514.jpg') no-repeat center/cover;
    /* Handles responsivity without the need for a media query */
    display: flex;
    flex-wrap: wrap;
}

#h1about {
    color: rgb(134, 103, 4);
}

.about-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-item {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 20px;
    border: 1px solid #cac399;
    box-shadow: 0 0 10px rgba(173, 160, 97, 0.491);
    text-align: center;
}

.about-item>p {
    text-align: justify;
    /* Justify text */
    text-justify: distribute-all-lines;
    color: rgb(134, 103, 4);
    font-weight: bolder;
}


/*CONTENT*/
.con {
    display: flex;
    /* Use flexbox */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Full viewport height */
}

.contact {
    background: url('../images/wall3-pexels-kseniachernaya-3965514.jpg') no-repeat center/cover;
    /* Handles responsivity without the need for a media query */
    /* display: flex; */
    flex-wrap: wrap;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}


#h1contact {
    color: rgb(134, 103, 4);

}

.contact-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-item {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 20px;
    border: 1px solid #cac399;
    box-shadow: 0 0 10px rgba(173, 160, 97, 0.491);
    text-align: center;
}

.contact-item>p {
    text-align: center;
    /* Justify text */
    text-justify: distribute-all-lines;
    color: rgb(134, 103, 4);
    font-weight: bolder;
}


@media (max-width: 768px) {
    nav ul {
        display: block;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .content-item {
        width: 100%;
        /* Full width on smaller screens */
    }

    .contact-item {
        width: 100%;
        /* Full width on smaller screens */
    }

    .about-item {
        width: 100%;
        /* Full width on smaller screens */
    }

}


@media screen and (min-width: 1200px) {

    .contact {
        background: url('../images/wall3-pexels-kseniachernaya-3965514.jpg') no-repeat center/cover;
        width: 100%;
        height: 100%;
        margin-right: 0%;
    }

    .contact-item {
        width: calc(50% - 20px);
        left: 50vh;
    }

    #h1contact {
        display: flex;
        /* Use flexbox */
        justify-content: center;
        position: center;
    }

}